<main>
  <form class="login-form" action="/new-password" method="POST">
    <input type="hidden" name="passwordToken" value="{{ passwordToken }}"/>
    <input type="hidden" name="userId" value="{{ userId }}"/>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
    <div class="form-control">
      <label for="password">New Password</label>
      <input type="password" name="password" id="password" />
    </div>
    <div class="form-control">
      <label for="confirmPassword">Confirm New Password</label>
      <input type="password" name="confirmPassword" id="confirmPassword" />
    </div>
    <button class="btn" type="submit">Update Password</button>
  </form>
</main>