<main>
    <h1>Your Order</h1>
    <main>
    {{#if hasOrders}}
        <ul class="cart__item-list">
            {{#each orders}}
                <li class="cart__item">
                    <h1>{{ this.id }} </h1>
                    {{#each this.products}}
                        <h2>Title : {{ this.title }}</h2>
                        <h2>Quantity : {{ this.orderItem.quantity }}</h2>
                    {{/each}}
                </li>
            {{/each}}
        </ul>
    {{else}}
        <h1>No Order !</h1>
    {{/if}}
    </main>
</main>