<main>
  <form class="login-form" action="/reset" method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
    <div class="form-control">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" />
    </div>
    <button class="btn" type="submit">Reset Password</button>
  </form>
</main>